@import '/node_modules/antd/dist/antd.css';

.App {
  text-align: center;
  max-width: 1280px;
  margin: auto;
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

