<<<<<<< HEAD
@import '/node_modules/antd/dist/antd.css';

.App {
=======
.Head {
>>>>>>> b9231791f8192dc1fd1b2895336803412b79915e
  text-align: center;
  max-width: 1280px;
  margin: auto;
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

